[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lxml = "*"
pytest-asyncio = "*"
requests = "*"

[dev-packages]
bandit = "*"
black = "*"
darker = "*"
flynt = "*"
mypy = "*"
prospector = "*"
pyanalyze = "*"
pydocstyle = "*"
pylama = "*"
pylint = "*"
pyre = "*"
pyright = "*"
pytest = "*"
pytype = "*"
ruff = "*"
sourcery = "*"
vermin = "*"

[requires]
python_version = "3.12"
