---
name: Pylint
permissions: {}
on: # yamllint disable-line rule:truthy
  - workflow_dispatch
  - push
#  push:
#    branches: ["main", "master"]
#  pull_request:
#    branches: ["main", "master"]
jobs:
  build:
    permissions: read-all
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.13", "3.14", 3.15-dev] # 3.15-rc
        # 3.11 no longer compatible
    steps:
      - uses: actions/checkout@v4
      #      - uses: actions/checkout@latest # latest not callable
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install build prerequisites (for 3.14)
        run: sudo apt install libxml2-dev libxslt-dev
      - name: Prepare running environment (dependencies)
        run: |
          pip install --upgrade poetry poetry-plugin-export
          poetry export --without-hashes --output=requirements.txt
          pip install --upgrade pylint --requirement requirements.txt
      - name: Analysing the code with pylint
        run: |
          # shellcheck disable=SC2035,SC2046
          # pylint --verbose --jobs 0 $(git ls-files *.py *.pyi)
          pylint --verbose --jobs 0 "src/valuefragments/*.py"
